@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="app"/>
    @*<script src="~/Scripts/dist/app.js"></script>*@
    <script src="http://localhost:3000/app.js"></script>
</body>
</html>

